@import 'semantic-ui';
@import 'flash';
.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#square {
    background-color: #aec6cf; 
    color: white; 
    display: flex;
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
